/* Style général du body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #303030;
    color: #333;
    padding: 20px;
    max-width: 75%;
    margin: auto;
    position: relative; /* Permet le positionnement relatif */
    min-height: 100vh; /* Assure que le body prend au moins la hauteur de la fenêtre */
}

/* Style pour la navigation */
.nav {
    background-color: #444; /* Couleur de fond pour la navigation */
    color: white;
    padding: 10px;
    position: fixed; /* Fixe la nav en haut */
    top: 0;
    left: 0;
    width: 100%; /* Prend toute la largeur de la fenêtre */
    z-index: 1000; /* S'assure que la nav soit au-dessus des autres éléments */
    display: flex; /* Utilise Flexbox pour aligner les éléments */
    align-items: center; /* Centre verticalement */
}

/* Style pour l'image de présentation */
#presentation-image-nav {
    width: 6vw; /* Largeur de l'image */
    height: 6vw; /* Hauteur de l'image */
    border-radius: 50%; /* Forme ronde */
    margin-right: 10vw; /* Espace à droite de l'image */
    display: block; /* Assure que l'image s'affiche correctement */
    object-fit: cover; /* Maintient les proportions sans déformation */
}


/* Style pour les boutons de navigation */
button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 15px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

/* Style pour le switcher de langue */
.lang-switch {
    margin-left: auto; /* Aligne le switcher à droite */
}

.lang-switch button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.lang-switch button:hover {
    background-color: #0056b3;
}



/* Style pour le contenu */
#content {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    padding-bottom: 80px; /* Ajoute de l'espace pour le footer */
    margin-top: 70px; /* Ajoute une marge en haut pour compenser la nav */
}


/* Style pour les titres */
#content h1 {
    font-size: 32px;
    color: #343a40;
}

/* Style pour les paragraphes */
#content p {
    font-size: 20px;
    line-height: 1.8;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed; /* Fixe le footer en bas */
    bottom: 0;
    left: 0;
    width: 100%; /* Prend toute la largeur de la fenêtre */
    height: 60px; /* Hauteur du footer */
    padding: 10px 0;
    box-sizing: border-box; /* Pour inclure le padding dans la hauteur totale */
}

footer .footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

footer .footer-content .socials a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

footer .footer-content .socials a:hover {
    text-decoration: underline;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


